<style>
    p{
        display: inline-block;
        margin-right: 20px;
        color: aliceblue;
    }
    a{
        text-decoration: none;
    }
    a:link,
    a:visited{
        color: aliceblue;
    }
    a:active{
        color: brown;
    }
</style>
<header>
    <h1>{{scrimeIt pageTitle}}</h1>
    <p><a href="/">Home</a></p><p><a href="/about">About</a></p>
</header>