<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Help page</title>
    <style>
        body{
          
            background-color: rgb(92, 92, 92);
            margin: 0;
        }
        h1{
          
            color: rgb(209, 150, 21);
        }
        footer{
            
            padding: 100px 0;
            text-align: center;
            background-color: rgb(102, 102, 102);
            color: aliceblue;
        }
    </style>
</head> 
<body>
    {{> header}}
    {{> footer}}
</body>
</html>