<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <style>
        body{
            background-color: rgb(92, 92, 92);
        }
        h1{
          
            color: rgb(209, 150, 21);
        }
        footer{
            color: aliceblue;
        }
    </style>
</head> 
<body>
    {{> header}}
    <h3>{{scrimeIt welcomeMessage}}</h3>
    {{> footer}}
</body>
</html>